:root {
    /* global variable colours */
    --pink01: #D98982;
    --pink02: #F7E7E6;
    --pink03: #F2D8D5;
    --pink04: #ECC4C0;
    --pink05: #E6B0AC;
    --pink06: #DF9D97;
    --pink07: #D98982;
    --pink08: #B5726C;
    --pink09: #915B57;
    --pink10: #6D4541;
    --pink11: #482E2B;
    --pink12: #2B1B1A;

    --orange01: #E66C51;
    --orange02: #FAE2DC;
    --orange03: #F7CEC5;
    --orange04: #F2B5A8;
    --orange05: #EE9D8B;
    --orange06: #EA846E;
    --orange07: #E66C51;
    --orange08: #C05A44;
    --orange09: #994836;
    --orange10: #733629;
    --orange11: #4D241B;
    --orange12: #2E1610;

    --brown01: #58453F;
    --brown02: #DEDAD9;
    --brown03: #C7C1BF;
    --brown04: #ABA29F;
    --brown05: #90837F;
    --brown06: #74645F;
    --brown07: #58453F;
    --brown08: #493A35;
    --brown09: #3B2E2A;
    --brown10: #2C2320;
    --brown11: #1D1715;
    --brown12: #120E0D;

    --green01: #6E8C03;
    --green02: #E2E8CD;
    --green03: #B6C581;
    --green04: #B6C581;
    --green05: #9EB257;
    --green06: #869F2D;
    --green07: #6E8C03;
    --green08: #5C7503;
    --green09: #495D02;
    --green10: #374602;
    --green11: #252F01;

    --peach01: #F3E6DE;
    --peach02: #FDFAF8;
    --peach03: #FBF7F4;
    --peach04: #F9F2EE;
    --peach05: #F7EEE9;
    --peach06: #F5EAE3;
    --peach07: #F3E6DE;
    --peach08: #CAC0B9;
    --peach09: #A29994;
    --peach10: #7A736F;
    --peach11: #514D4A;
    --peach12: #312E2C;

    --red01: #9F1B13;
    --red02: #ECD1D0;
    --red03: #DFB3B0;
    --red04: #CF8D89;
    --red05: #BF6762;
    --red06: #AF413A;
    --red07: #9F1B13;
    --red08: #841710;
    --red09: #6A120D;
    --red10: #500E0A;
    --red11: #350906;
    --red12: #200504;

    --white: #ffffff;
    --black: #000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}



@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}


/* .primary-btn {
    display: flex;
    width: 316px;
    height: 64px;
    padding: 32px 16px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    background: var(--orange01);
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
} */

.primary-btn {
    display: inline-block;
    background-color: var(--orange01);
    /* Set your desired orange color */
    color: #fff;
    /* Set text color to white */
    padding: 16px 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 316px;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.primary-btn:hover {
    background-color: var(--orange09);
}

.wrapper {
    max-width: 1312px;
    margin: 0 auto;
    width: 100%;
}


.header-container {
    /* position: fixed; */
    background-color: var(--green11);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    z-index: 100;
}

#header-nav-ul {
    display: flex;
    gap: 56px;
    list-style: none;
    padding: 0;
}

#header-nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* position: fixed; */
    width: 100%;
    height: 80px;
}

#header-nav-ul {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#leaf-logo {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 48px;
    width: 48px;
}

#search-icon {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
}

.nav-button-container {
    height: 100%;

}

.nav-btn-drop {
    padding: 26px;
}

.nav-button {
    display: flex;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--peach01);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.dropdown {
    max-width: 208.2px;
    background-color: var(--green11);
    position: absolute;
    z-index: 999;
    display: none;
}


.nav-button:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

#food-insecurity-dropdown:hover+.dropdown {
    display: block;
}

.dropdown:hover {
    display: block;
}

/* end of nav */

.wrapper {
    max-width: 1312px;
}

#about-intro {
    display: flex;
    flex-direction: row;
    margin-top: 59px;
    margin-bottom: 137px;
    column-gap: 85px;
}

#about-intro-text {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 45px;
}

#about-intro-text h1 {
    color: var(--green01, #6E8C03);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -2.4px;
}

#about-intro-text p {
    color: var(--brown01, #58453F);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

#about-us-images {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

/* end of about section */

#our-values {
    margin-top: 138px;
    margin-bottom: 138px;
}

.pink-bg {
    background-image: url(./images/pink-bg.svg);
    width: 1312px;
    height: 603px;
}

.pink-bg h2 {
    color: var(--brown01, #58453F);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    padding-top: 99px;
    text-align: center;
}

#values-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 190px;
    padding-top: 49px;
}

#innovation,
#collaboration,
#growth p {
    text-align: center;
    color: var(--brown01, #58453F);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

#innovation,
#collaboration,
#growth {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
}

#our-team-container {
    display: flex;
    flex-direction: row;
    column-gap: 126px;
    justify-content: center;
    margin-bottom: 138px;
}

#our-team-text {
    display: flex;
    flex-direction: column;
    row-gap: 52px;
    padding-top: 41px;
}

#our-team-text h2 {
    color: var(--brown01, #58453F);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

#our-team-text p {
    color: var(--brown01, #58453F);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* end of our team section */
#our-impact {
    margin-bottom: 130px;
}

#our-impact-container {
    display: flex;
    flex-direction: row;
    column-gap: 127px;
    padding-top: 101px;
}

#our-impact-text {
    display: flex;
    flex-direction: column;
    row-gap: 52px;
    /* padding-top: 170px; */
    padding-left: 118px;
}

#our-impact-header h2 {
    color: var(--brown01, #58453F);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

#our-impact-paragraph p {
    color: var(--brown01, #58453F);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/* end of our impact section */
#get-involved-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 127px;
    margin-bottom: 171px;
}

#get-involved-header h2 {
    color: var(--brown01, #58453F);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

}

#get-involved-paragraph p {
    padding-top: 58px;
    color: var(--brown01, #58453F);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

#buttons {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    padding-top: 67px;
}

#volunteer-btn a {
    display: flex;
    width: 193px;
    height: 48px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border: 4px solid var(--green08, #5C7503);
    text-decoration: none;
    font-family: Poppins;
    color: var(--green08);
    border-radius: 4px;
}

#volunteer-btn a:hover {
    background-color: var(--green02);
}

#donation-btn a {
    display: flex;
    width: 193px;
    height: 48px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--green08, #5C7503);
    text-decoration: none;
    font-family: Poppins;
    color: white;
}

#donation-btn a:hover {
    background-color: var(--green10);
}

/* end of get involved section */
#articles-container {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding-bottom: 174px;
}

.article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 427px;
    height: 236px;
    row-gap: 27px;
}

.article-header h3 {
    color: var(--brown01, #58453F);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.article-btn {
    display: flex;
    justify-content: center;
}

.article-btn a {
    display: flex;
    width: 230px;
    height: 48px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid var(--orange01, #E66C51);
    text-decoration: none;
    color: var(--orange01);
    font-family: Poppins;
    text-transform: uppercase;
}

.article-btn a:hover {
    background-color: var(--orange01);
    color: white;
}

/* end of about us section */
#links-container {
    background-color: var(--green11);
    display: flex;
    height: 309px;
}

#links-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#footer-top-links {
    width: 100%;
    display: flex;
    max-width: 440px;
    margin: 0 auto;
    flex-direction: row;
    column-gap: 34px;
    color: var(--peach01);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

#footer-top-links p {
    padding-top: 72px;
}

#social-icons {
    padding-top: 59px;
}

#hr-container {
    display: flex;
    justify-content: center;
}

hr {
    border: 1px solid var(--peach01);
    margin: 23px 0;
    width: 1090px;
}

#footer-bottom-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1090px;
    list-style: none;
}


.footer-link {
    text-decoration: none;
    color: var(--peach01);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.links h3 {
    padding-top: 76px;
}

#copyright-container {
    display: flex;
    margin: 0 auto;
    max-width: 1090px;
    flex-direction: row;
    padding-top: 50px;
    column-gap: 9px;
}

#links-section h4 {
    color: var(--peach01);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

/* end of footer section */