:root {
    /* global variable colours */
    --pink01: #D98982;
    --pink02: #F7E7E6;
    --pink03: #F2D8D5;
    --pink04: #ECC4C0;
    --pink05: #E6B0AC;
    --pink06: #DF9D97;
    --pink07: #D98982;
    --pink08: #B5726C;
    --pink09: #915B57;
    --pink10: #6D4541;
    --pink11: #482E2B;
    --pink12: #2B1B1A;

    --orange01: #E66C51;
    --orange02: #FAE2DC;
    --orange03: #F7CEC5;
    --orange04: #F2B5A8;
    --orange05: #EE9D8B;
    --orange06: #EA846E;
    --orange07: #E66C51;
    --orange08: #C05A44;
    --orange09: #994836;
    --orange10: #733629;
    --orange11: #4D241B;
    --orange12: #2E1610;

    --brown01: #58453F;
    --brown02: #DEDAD9;
    --brown03: #C7C1BF;
    --brown04: #ABA29F;
    --brown05: #90837F;
    --brown06: #74645F;
    --brown07: #58453F;
    --brown08: #493A35;
    --brown09: #3B2E2A;
    --brown10: #2C2320;
    --brown11: #1D1715;
    --brown12: #120E0D;

    --green01: #6E8C03;
    --green02: #E2E8CD;
    --green03: #B6C581;
    --green04: #B6C581;
    --green05: #9EB257;
    --green06: #869F2D;
    --green07: #6E8C03;
    --green08: #5C7503;
    --green09: #495D02;
    --green10: #374602;
    --green11: #252F01;

    --peach01: #F3E6DE;
    --peach02: #FDFAF8;
    --peach03: #FBF7F4;
    --peach04: #F9F2EE;
    --peach05: #F7EEE9;
    --peach06: #F5EAE3;
    --peach07: #F3E6DE;
    --peach08: #CAC0B9;
    --peach09: #A29994;
    --peach10: #7A736F;
    --peach11: #514D4A;
    --peach12: #312E2C;

    --red01: #9F1B13;
    --red02: #ECD1D0;
    --red03: #DFB3B0;
    --red04: #CF8D89;
    --red05: #BF6762;
    --red06: #AF413A;
    --red07: #9F1B13;
    --red08: #841710;
    --red09: #6A120D;
    --red10: #500E0A;
    --red11: #350906;
    --red12: #200504;

    --white: #ffffff;
    --black: #000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}



@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}


/* .primary-btn {
    display: flex;
    width: 316px;
    height: 64px;
    padding: 32px 16px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    background: var(--orange01);
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
} */

.primary-btn {
    display: inline-block;
    background-color: var(--orange01);
    /* Set your desired orange color */
    color: #fff;
    /* Set text color to white */
    padding: 16px 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 316px;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.primary-btn:hover {
    background-color: var(--orange09);
}

.wrapper {
    max-width: 1312px;
    margin: 0 auto;
    width: 100%;
}


.header-container {
    /* position: fixed; */
    background-color: var(--green11);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    z-index: 100;
}

#header-nav-ul {
    display: flex;
    gap: 56px;
    list-style: none;
    padding: 0;
}

#header-nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* position: fixed; */
    width: 100%;
    height: 80px;
}

#header-nav-ul {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#leaf-logo {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 48px;
    width: 48px;
}

#search-icon {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
}

.nav-button-container {
    height: 100%;

}

.nav-btn-drop {
    padding: 26px;
}

.nav-button {
    display: flex;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--peach01);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.dropdown {
    max-width: 208.2px;
    background-color: var(--green11);
    position: absolute;
    z-index: 999;
    display: none;
}


.nav-button:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

#food-insecurity-dropdown:hover+.dropdown {
    display: block;
}

.dropdown:hover {
    display: block;
}

/* Hero Section */

#hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-text {
    display: flex;
    /* height: 100vh; */
    width: 100%;
    align-items: left;
    flex-direction: column;
    row-gap: 41px;
    padding-top: 80px;
}

.hero-image {
    margin-top: 0px;
    background-image: url(./images/hero-image.png);
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 730px;
}

.hero-text h1 {
    color: rgb(246, 246, 246);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -2.4px;
}

.hero-text p {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.hero-text button {
    text-decoration: none;
    border-radius: 4px;
    background: #E66C51;
    display: flex;
    width: 316px;
    height: 64px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

.hero-text button span {
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 137.5% */
    text-transform: uppercase;
}


.hero-h1 {
    color: #fff;
    text-align: left;
    padding-top: 85px;
    margin-left: 174px;
    width: 523px;
}

.hero-subtitle {
    margin-top: 41px;
    margin-left: 179px;
    margin-bottom: 42px;
    text-align: left;
    width: 534px;
}

.hero-btn {
    margin-left: 175px;
}

/* Our Work Section */

.stat-text-container {
    display: flex;
    flex-direction: column;
    row-gap: 53px;
    justify-content: center;
}

.stat-text-container h2:first-of-type {
    color: var(--red01);
    font-size: 18px;
    padding-top: 123px;
}

.stat-text-container h2:nth-child(2) {
    color: var(--brown01);
}

.stat-text-container h2 {
    text-align: center;
}

.stat-text-container p {
    padding-bottom: 63px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: var(--brown01);
}

.stat-images-container {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    color: var(--brown01, #58453F);
}

.stat-images-container h3 {
    color: var(--brown01);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.stat-images-container p {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.left-stat-image {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    width: 185px;
}

.people-cooking-img {
    width: 185.478px;
    height: 160px;
}


.center-stat-image {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    width: 244px;
}

.person-teaching-img {
    width: 244px;
    height: 160px;
}

.right-stat-image {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    width: 220px;
    align-items: center;
}

.volunteer-profiles-img {
    width: 161.963px;
    height: 160px;
}

.right-stat-image p {
    width: 220px;
}

/* Actions Categories Wrapper */

.categories-container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin-top: 232px;
}

.category-1 {
    background-color: var(--brown01);
    width: 427px;
    height: 479px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.category-1 h2 {
    color: var(--white);
    text-align: center;
    padding-top: 47px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.category-1 p {
    color: var(--white);
    font-size: 18px;
    font-family: Poppins-Regular;
    font-weight: 400;
    text-align: center;
    padding-left: 55px;
    padding-right: 56px;
}

.category-1 a:hover {
    background-color: var(--white);
    color: var(--brown10);
    border-color: var(--white);
}

.outline-white-btn {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    padding: 16px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Poppins-Regular;
    font-size: 1rem;
    width: 218px;
    border-radius: 50px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}


.outline-white-btn-container {
    padding-left: 110px;
}

.category-2 {
    background-color: var(--green08);
    width: 427px;
    height: 479px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.category-2 h2 {
    color: var(--white);
    text-align: center;
    padding-top: 47px;
    padding-left: 38px;
    padding-right: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px
}

.category-2 p {
    color: var(--white);
    font-size: 18px;
    font-family: Poppins-Regular;
    font-weight: 400;
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
}

.category-2 a:hover {
    background-color: var(--white);
    color: var(--green10);
    border-color: var(--white);
}

.category-3 {
    background-color: var(--red07);
    width: 427px;
    height: 479px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.category-3 h2 {
    color: var(--white);
    text-align: center;
    padding-top: 47px;
    padding-left: 38px;
    padding-right: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px
}

.category-3 p {
    color: var(--peach01);
    font-size: 18px;
    font-family: Poppins-Regular;
    font-weight: 400;
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
}

.category-3 a:hover {
    background-color: var(--white);
    color: var(--red10);
    border-color: var(--white);
}

/* 1 in 8 Canadians Stat section */

.get-involved-wrapper {
    max-width: 1298px;
    margin: 0 auto;
    width: 100%;
}


.get-involved-image {
    margin-top: 172px;
    background-image: url(./images/1in8.png);
    background-size: cover;
    background-position: center;
    width: 1312px;
    height: 623px;
}

.get-involved-text {
    padding-top: 108px;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}

.get-involved-text h2 {
    color: white;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.get-involved-text p {
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.primary-btn-2 {
    display: flex;
    width: 206px;
    height: 64px;
    padding: 16px 8px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    background: var(--orange01);
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}


.primary-btn-2-container {
    padding-left: 553px;
}

/* slideshow section */

.slideshow-wrapper {
    max-width: 1312px;
    margin: 0 auto;
    width: 100%;
}

.slideshow-section h2 {
    text-align: center;
    color: var(--green01);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    margin-top: 160px;
}

/* Susan slide */
.susan-slide {
    background-color: var(--peach01);
    width: 656px;
    height: 499px;
    display: flex;
    flex-direction: row;
    column-gap: 73px;
}

#susan {
    /* display: flex; */
    flex-direction: row;
    padding-top: 82px;
}

.susan-slide {
    padding-top: 82px;
}

.back-arrow {
    padding-left: 32px;
    padding-top: 125px;
}

.forward-arrow {
    padding-left: 571px;
    padding-top: 207px;
}

.susan-slide h3 {
    color: var(--red01, #9F1B13);
    text-align: left;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;

}

.susan-slide p {
    color: var(--brown01);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.susan-text {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
}

.susan-img {
    background-image: url(./images/susan.png);
    display: flex;
    width: 656px;
    height: 499px;
}

/* Phil slide  */
.phil-slide {
    background-color: var(--peach01);
    width: 656px;
    height: 499px;
    display: flex;
    flex-direction: row;
    column-gap: 73px;
}

#phil {
    /* display: flex; */
    flex-direction: row;
    padding-top: 82px;
}

.phil-slide {
    padding-top: 82px;
}

.phil-slide h3 {
    color: var(--red01, #9F1B13);
    text-align: left;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;

}

.phil-slide p {
    color: var(--brown01);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.phil-text {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
}

.phil-img {
    background-image: url(./images/phil.png);
    display: flex;
    width: 656px;
    height: 499px;
}

/* Xavier slide */

.xavier-slide {
    background-color: var(--peach01);
    width: 656px;
    height: 499px;
    display: flex;
    flex-direction: row;
    column-gap: 73px;
}

#xavier {
    /* display: flex; */
    flex-direction: row;
    padding-top: 82px;
}

.xavier-slide {
    padding-top: 82px;
}

.xavier-slide h3 {
    color: var(--red01, #9F1B13);
    text-align: left;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;

}

.xavier-slide p {
    color: var(--brown01);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.xavier-text {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
}

.xavier-img {
    background-image: url(./images/xavier.png);
    display: flex;
    width: 656px;
    height: 499px;
}

/* slide elements */
.outline-brown-btn {
    display: flex;
    width: 201px;
    height: 48px;
    padding: 8px 16px;
    text-align: center;
    border-radius: 50px;
    border: 4px solid var(--brown01);
    color: var(--brown01);
    text-decoration: none;
    font-family: Poppins-Medium;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    width: auto;
    /* margin-top: -22px; */
    padding: 1px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots {
    padding-top: 32px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--green10);
}

/* end of slideshow section */


.testimonials-section h2 {
    text-align: center;
    color: var(--green01);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    margin-top: 160px;
}

.testimonials-intro {
    margin-top: 28px;
    margin-bottom: 79px;
}

.testimonials-section p {
    color: var(--brown01);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}


.testimonials-container {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    margin: 0;
}

/* David testimonial */
.testimonial-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 425px;
    height: 425px;
}

.testimonial-1 h3 {
    position: absolute;
    width: 144px;
    top: 172px;
    left: 140px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: var(--brown01);

}

.testimonial-1 p:first-of-type {
    position: absolute;
    top: 211px;
    left: 169px;
}

.testimonial-1 p:last-of-type {
    position: absolute;
    top: 270px;
    left: 15px;
    width: 394px;
}

.david {
    display: flex;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 150px;
    left: 137px;
    margin-top: 0;
}

.testimonial-bg-david {
    display: flex;
    position: absolute;
    top: 75px;
    width: 425px;
    height: 350px;
}

/* Susan testimonial */

.testimonial-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 425px;
    height: 425px;
}

.testimonial-2 h3 {
    position: absolute;
    width: 176px;
    top: 172px;
    left: 124px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: var(--brown01);

}

.testimonial-2 p:first-of-type {
    position: absolute;
    top: 211px;
    left: 185px;
}

.testimonial-2 p:last-of-type {
    position: absolute;
    top: 270px;
    left: 15px;
    width: 394px;
}

.jessica {
    display: flex;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 150px;
    left: 137px;
    margin-top: 0;
}

.testimonial-bg-jessica {
    display: flex;
    position: absolute;
    top: 75px;
    width: 425px;
    height: 350px;
    width: 425px;
    height: 350px;
}

/* Jamal testimonial */

.testimonial-3 {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 425px;
    height: 425px;
}

.testimonial-3 h3 {
    position: absolute;
    width: 151px;
    top: 172px;
    left: 140px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: var(--brown01);

}

.testimonial-3 p:first-of-type {
    position: absolute;
    top: 211px;
    left: 162px;
}

.testimonial-3 p:last-of-type {
    position: absolute;
    top: 270px;
    left: 15px;
    width: 394px;
}

.jamal {
    display: flex;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 150px;
    left: 137px;
    margin-top: 0;
}

.testimonial-bg-jamal {
    display: flex;
    position: absolute;
    top: 75px;
    width: 425px;
    height: 350px;
}

/* end of testimonials section */

.sponsers-container {
    display: flex;
    flex-direction: column;
}

.sponsors-section h2 {
    text-align: center;
    color: var(--green01);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    margin-top: 160px;
    margin-bottom: 60px;
}

.sponsors-first-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sponsors-second-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 18px;
}

/* nourish now section */

.nourish-now-section {
    display: flex;
    flex-direction: row;
    margin-top: 149px;
}

.donate-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 656px;
    height: 614px;
    border-top: 11px solid var(--green01, #6E8C03);
    background: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.donate-left-container p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}

.hand-planting {
    padding-top: 45px;
}

.nourish-now-h2 {
    padding-top: 10px;
    color: var(--brown01, #58453F);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.nourish-now-p {
    color: var(--brown01, #58453F);
    font-size: 18px;
    padding-top: 16px;
}

.nourish-now-p2 {
    color: var(--brown01, #58453F);
    font-size: 18px;
    padding-top: 28px;
    padding-bottom: 35px;
}

.nourish-now-btn {
    display: flex;
    width: 161px;
    height: 50px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--green08, #5C7503);
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.nourish-now-p3 {
    color: var(--brown01, #58453F);
    padding-top: 33px;
    font-size: 18px;
}

/* end of nourish now section */

.mailing-list-container {
    margin-top: 134px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./images/mailing-list-bg.png);
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 893px;
}

.mailing-list-section {
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
}

.mailing-list-section h2 {
    padding-top: 163px;
    color: var(--brown01, #58453F);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.mailing-list-section p {
    padding-top: 24px;
    color: var(--brown01, #58453F);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}


input[type=text] {
    padding: 12px 20px;
    /* margin: 8px 0; */
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid var(--green10);
    background-color: transparent;
}

.form-top-row {
    display: flex;
    flex-direction: row;
    margin-left: 230px;
    column-gap: 19px;
    margin-top: 62px;
}

.form-bottom-row {
    display: flex;
    flex-direction: row;
    margin-left: 230px;
    margin-top: 36px;
}

.first-name {
    display: flex;
    flex-direction: column;
    width: 202px;
}

.last-name {
    display: flex;
    flex-direction: column;
    width: 202px;
}

.email {
    display: flex;
    flex-direction: column;
    width: 423px;
}

#form-btn-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.form-btn {
    text-decoration: none;
    border-radius: 4px;
    background: var(--green08);
    display: inline-flex;
    width: 212px;
    height: 44px;
    padding: 8px 16px;
    align-items: center;
    color: white;
    font-family: Poppins;
    column-gap: 15px;
}

/* end of form section */
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 64px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid var(--green03);
    background-color: var(--green03);
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 4px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #topBtn img {
    filter: invert();
  }

  #topBtn:hover {
    border: 2px solid var(--green06);
    background-color: var(--green06); 
  }
/* end of back to top button */


#links-container {
    background-color: var(--green11);
    display: flex;
    height: 309px;
}

#links-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#footer-top-links {
    width: 100%;
    display: flex;
    max-width: 440px;
    margin: 0 auto;
    flex-direction: row;
    column-gap: 34px;
    color: var(--peach01);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

#footer-top-links p {
    padding-top: 72px;
}

#social-icons {
    padding-top: 59px;
}

#hr-container {
    display: flex;
    justify-content: center;
}

hr {
    border: 1px solid var(--peach01);
    margin: 23px 0;
    width: 1090px;
}

#footer-bottom-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1090px;
    list-style: none;
}


.footer-link {
    text-decoration: none;
    color: var(--peach01);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.links h3 {
    padding-top: 76px;
}

#copyright-container {
    display: flex;
    margin: 0 auto;
    max-width: 1090px;
    flex-direction: row;
    padding-top: 50px;
    column-gap: 9px;
}

#links-section h4 {
    color: var(--peach01);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

/* end of footer section */