:root {
    /* global variable colours */
    --pink01: #D98982;
    --pink02: #F7E7E6;
    --pink03: #F2D8D5;
    --pink04: #ECC4C0;
    --pink05: #E6B0AC;
    --pink06: #DF9D97;
    --pink07: #D98982;
    --pink08: #B5726C;
    --pink09: #915B57;
    --pink10: #6D4541;
    --pink11: #482E2B;
    --pink12: #2B1B1A;

    --orange01: #E66C51;
    --orange02: #FAE2DC;
    --orange03: #F7CEC5;
    --orange04: #F2B5A8;
    --orange05: #EE9D8B;
    --orange06: #EA846E;
    --orange07: #E66C51;
    --orange08: #C05A44;
    --orange09: #994836;
    --orange10: #733629;
    --orange11: #4D241B;
    --orange12: #2E1610;

    --brown01: #58453F;
    --brown02: #DEDAD9;
    --brown03: #C7C1BF;
    --brown04: #ABA29F;
    --brown05: #90837F;
    --brown06: #74645F;
    --brown07: #58453F;
    --brown08: #493A35;
    --brown09: #3B2E2A;
    --brown10: #2C2320;
    --brown11: #1D1715;
    --brown12: #120E0D;

    --green01: #6E8C03;
    --green02: #E2E8CD;
    --green03: #B6C581;
    --green04: #B6C581;
    --green05: #9EB257;
    --green06: #869F2D;
    --green07: #6E8C03;
    --green08: #5C7503;
    --green09: #495D02;
    --green10: #374602;
    --green11: #252F01;

    --peach01: #F3E6DE;
    --peach02: #FDFAF8;
    --peach03: #FBF7F4;
    --peach04: #F9F2EE;
    --peach05: #F7EEE9;
    --peach06: #F5EAE3;
    --peach07: #F3E6DE;
    --peach08: #CAC0B9;
    --peach09: #A29994;
    --peach10: #7A736F;
    --peach11: #514D4A;
    --peach12: #312E2C;

    --red01: #9F1B13;
    --red02: #ECD1D0;
    --red03: #DFB3B0;
    --red04: #CF8D89;
    --red05: #BF6762;
    --red06: #AF413A;
    --red07: #9F1B13;
    --red08: #841710;
    --red09: #6A120D;
    --red10: #500E0A;
    --red11: #350906;
    --red12: #200504;

    --white: #ffffff;
    --black: #000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}



@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}


.primary-btn {
    display: inline-block;
    background-color: var(--orange01);
    /* Set your desired orange color */
    color: #fff;
    /* Set text color to white */
    padding: 16px 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 205px;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
}

.primary-btn:hover {
    background-color: var(--orange09);
}

.wrapper {
    max-width: 1312px;
    margin: 0 auto;
    width: 100%;
}


.header-container {
    /* position: fixed; */
    background-color: var(--green11);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    z-index: 100;
}

#header-nav-ul {
    display: flex;
    gap: 56px;
    list-style: none;
    padding: 0;
}

#header-nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* position: fixed; */
    width: 100%;
    height: 80px;
}

#header-nav-ul {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#leaf-logo {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 48px;
    width: 48px;
}

#search-icon {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
}

.nav-button-container {
    height: 100%;

}

.nav-btn-drop {
    padding: 26px;
}

.nav-button {
    display: flex;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--peach01);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.dropdown {
    max-width: 208.2px;
    background-color: var(--green11);
    position: absolute;
    z-index: 999;
    display: none;
}


.nav-button:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

#food-insecurity-dropdown:hover+.dropdown {
    display: block;
}

.dropdown:hover {
    display: block;
}

/* end of navigation section */

.impact-section {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.impact-left-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.impact-left-container h2 {
    color: var(--green01);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -2.4px;
    position: absolute;
    z-index: 1;
    left: 113px;
    top: 105px;

}

.impact-left-container p {
    color: var(--brown01);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    z-index: 1;
    left: 113px;
    top: 191px;
}

.impact-btn {
    display: flex;
    width: 206px;
    height: 64px;
    padding: 16px 8px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    background: var(--orange01);
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
    position: absolute;
    left: 113px;
    top: 386px;
}


.impact-btn:hover {
    background-color: var(--orange09);
}

/* end of actions categories section  */
.slideshow-wrapper {
    max-width: 1312px;
    margin: 0 auto;
    width: 100%;
}

.slideshow-section h2 {
    text-align: center;
    color: var(--green01);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    margin-top: 160px;
}

/* Susan slide */
.susan-slide {
    background-color: var(--peach01);
    width: 656px;
    height: 499px;
    display: flex;
    flex-direction: row;
    column-gap: 73px;
}

#susan {
    /* display: flex; */
    flex-direction: row;
    padding-top: 82px;
}

.susan-slide {
    padding-top: 82px;
}

.back-arrow {
    padding-left: 32px;
    padding-top: 125px;
}

.forward-arrow {
    padding-left: 571px;
    padding-top: 207px;
}

.susan-slide h3 {
    color: var(--red01, #9F1B13);
    text-align: left;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;

}

.susan-slide p {
    color: var(--brown01);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.susan-text {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
}

.susan-img {
    background-image: url(./images/susan.png);
    display: flex;
    width: 656px;
    height: 499px;
}

/* Phil slide  */
.phil-slide {
    background-color: var(--peach01);
    width: 656px;
    height: 499px;
    display: flex;
    flex-direction: row;
    column-gap: 73px;
}

#phil {
    /* display: flex; */
    flex-direction: row;
    padding-top: 82px;
}

.phil-slide {
    padding-top: 82px;
}

.phil-slide h3 {
    color: var(--red01, #9F1B13);
    text-align: left;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;

}

.phil-slide p {
    color: var(--brown01);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.phil-text {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
}

.phil-img {
    background-image: url(./images/phil.png);
    display: flex;
    width: 656px;
    height: 499px;
}

/* Xavier slide */

.xavier-slide {
    background-color: var(--peach01);
    width: 656px;
    height: 499px;
    display: flex;
    flex-direction: row;
    column-gap: 73px;
}

#xavier {
    /* display: flex; */
    flex-direction: row;
    padding-top: 82px;
}

.xavier-slide {
    padding-top: 82px;
}

.xavier-slide h3 {
    color: var(--red01, #9F1B13);
    text-align: left;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;

}

.xavier-slide p {
    color: var(--brown01);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.xavier-text {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
}

.xavier-img {
    background-image: url(./images/xavier.png);
    display: flex;
    width: 656px;
    height: 499px;
}

/* slide elements */
.outline-brown-btn {
    display: flex;
    width: 201px;
    height: 48px;
    padding: 8px 16px;
    text-align: center;
    border-radius: 50px;
    border: 4px solid var(--brown01);
    color: var(--brown01);
    text-decoration: none;
    font-family: Poppins-Medium;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    width: auto;
    /* margin-top: -22px; */
    padding: 1px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots {
    padding-top: 32px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--green10);
}

/* end of slideshow section */

#statistics-figures-section {
    display: flex;
    flex-direction: column;
    max-width: 1079px;
    margin: 100px auto 98px auto;
    /* margin: top left bottom right */
}

#statistics-figures-section h1 {
    color: var(--brown01, #58453F);
    text-align: left;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

#statistics-figures-section p {
    color: var(--brown01, #58453F);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}


#statistics-figures-section img {
    width: 50px;
    height: 42.857px;
}

#hover-stats {
    margin-bottom: 100px;
}

#statistics-figures-hover {
    display: flex;
    flex-direction: row;
    column-gap: 15px;

}

#statistics-figures-hover p {
    color: var(--brown01, #58453F);
    text-align: center;
    font-family: Poppins-bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    margin-top: 27px;
}

.brown-bg {
    background-color: var(--pink10);
    width: 648px;
    height: 229px;
    display: flex;
    justify-content: center;
    padding-top: 84px;
    transition: background-color 0.3s ease;
}

.brown-bg:hover {
    background-color: var(--pink11);
}

.fact-title {
    display: block;
    color: var(--peach01, #F3E6DE);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.fact-description {
    display: none;
    color: var(--peach01, #F3E6DE);
    padding-left: 88px;
    padding-right: 88px;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

/* end of statistics and figures */
#join-the-fight {
    margin-bottom: 100px;
}

#join-the-fight-img {
    background-image: url(./images/join-the-fight.png);
    width: 1315px;
    height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 28px;
}

#join-the-fight h1 {
    color: var(--peach01, #F3E6DE);
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -2.4px;
}

#join-the-fight p {
    color: var(--peach01, #F3E6DE);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

/* end of join the fight against hunger */

#success-stories {
    display: flex;
    height: 170px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 18px;
    max-width: 1091px;
    margin: 0 auto 100px auto;
    
}

#success-stories h1 {
    color: var(--brown01, #58453F);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

#success-stories p {
    color: var(--brown01, #58453F);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

/* end of inspiring success stories */

#links-container {
    background-color: var(--green11);
    display: flex;
    height: 309px;
}

#links-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#footer-top-links {
    width: 100%;
    display: flex;
    max-width: 440px;
    margin: 0 auto;
    flex-direction: row;
    column-gap: 34px;
    color: var(--peach01);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

#footer-top-links p {
    padding-top: 72px;
}

#social-icons {
    padding-top: 59px;
}

#hr-container {
    display: flex;
    justify-content: center;
}

hr {
    border: 1px solid var(--peach01);
    margin: 23px 0;
    width: 1090px;
}

#footer-bottom-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1090px;
    list-style: none;
}


.footer-link {
    text-decoration: none;
    color: var(--peach01);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.links h3 {
    padding-top: 76px;
}

#copyright-container {
    display: flex;
    margin: 0 auto;
    max-width: 1090px;
    flex-direction: row;
    padding-top: 50px;
    column-gap: 9px;
}

#links-section h4 {
    color: var(--peach01);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

/* end of footer section */